@charset "UTF-8";

body {
	font-size: small;
}

body>header {
	/* 헤더가 로딩되면서 아래 메인페이지가 위로당겨지는현상을 막기위해 헤더에 최소크기를 주었다. */
	min-height: 60px;
}

container>h1 {
	height: 30px;
	/* border: 1px solid red; */
}

div.bit-list {
	min-height: 200px;
}

div.container {
	width: 800px;
}

.bit-invisible {
	display: none;
}
#bit-login-state {
	margin: 0px 10px;
}

.bit-btn {
	text-align: right;
}

#bit-upload {
	margin-bottom: 20px;
}

#bit-service {
	margin-top: 10px;
	margin-bottom: 10px;
	color: red;
}

#bit-photo {
	margin-bottom: 20px;
}